@model LibSpace_Aspnet.Models.Requisitum

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Requisitum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBibliotecarioRecetor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBibliotecarioRecetor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBibliotecarioRemetente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBibliotecarioRemetente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrevEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPrevEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLivroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLivroNavigation.IdLivro)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdLeitor" />
        <input type="hidden" asp-for="IdLivro" />
        <input type="hidden" asp-for="DataRequisicao" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
