@model IEnumerable<LibSpace_Aspnet.Models.Requisitum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdBibliotecarioRecetor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBibliotecarioRemetente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLivroNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdBibliotecarioRecetor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBibliotecarioRemetente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLivroNavigation.IdLivro)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
