@model LibSpace_Aspnet.Models.Editora

@{
    ViewData["Title"] = "Details";
}

<div class="form-container details-container">
    <h4 class="form-title">Detalhes da Editora</h4>
    <div class="form-content">
        <div class="form-row">
            <div class="form-group form-group-image">
                <img src="@Url.Content("~/Editora_IMG/" + Model.ImgEditora)" alt="Imagem de @Model.NomeEditora" class="imgdetails" />
            </div>
            <div class="form-group form-group-info">
                <div>
                    <p><span class="info-label">Nome:</span> @Html.DisplayFor(model => model.NomeEditora)</p>
                    <p><span class="info-label">Sobre a Editora:</span> @Html.Raw(Model.InfoEditora?.Replace("\n", "<br />"))</p>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="button" class="btn btn-secondary" onclick="history.back()">Voltar</button>
            @if (User.IsInRole("Bibliotecario"))
            {
                <div class="edit-delete-buttons">
                    <a asp-action="Edit" asp-route-id="@Model.IdEditora" class="btn btn-primary btn-edit">Editar</a>
                    <a asp-action="Delete" asp-route-id="@Model.IdEditora" class="btn btn-danger btn-delete">Eliminar</a>
                </div>
            }
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/create_design_editora_details.css" />
}