@model IEnumerable<LibSpace.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEdicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TituloLivros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idioma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumExemplares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapaImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clicks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEdicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TituloLivros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idioma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumExemplares)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapaImg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinopse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clicks)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLivro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLivro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLivro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
