@model LibSpace_Aspnet.Models.Biblioteca

@{
    ViewData["Title"] = "Sobre";
}

<div class="form-container details-container">
    <h4 class="form-title">Detalhes da Biblioteca</h4>
    <div class="form-content">
        <div class="form-row form-row-details">
            <div class="form-group form-group-info">
                <div>
                    <p> <span class="form-label">Nome:</span>@Html.DisplayFor(model => model.NomeBiblioteca)</p>
                    <p> <span class="form-label">Morada:</span>@Html.DisplayFor(model => model.EndMorada)</p>
                    <p> <span class="form-label">Codigo Postal:</span>@Html.DisplayFor(model => model.EndCodPostal)</p>
                    <p> <span class="form-label">Localidade:</span>@Html.DisplayFor(model => model.EndLocalidade)</p>
                    <p> <span class="form-label">Email:</span>@Html.DisplayFor(model => model.Email)</p>
                    <p> <span class="form-label">Telefone:</span>@Html.DisplayFor(model => model.Telefone)</p>
                    <p> <span class="form-label">Horario:</span></p>
                    <p>@Html.Raw(Model.Horario?.Replace("\n", "<br />"))</p>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="button" class="btn btn-secondary" onclick="history.back()">Voltar</button>
            @if (User.IsInRole("Admin"))
                {
            <a asp-action="Edit" asp-route-id="@Model.IdBiblioteca" class="btn btn-primary btn-edit">Editar</a>
                }
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/create_design_autor_details.css" />
}
