@model LibSpace_Aspnet.Models.Livro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEdicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEdicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloLivros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloLivros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumExemplares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumExemplares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapaImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapaImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinopse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAutorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAutorNavigation.IdAutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEditoraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEditoraNavigation.IdEditora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGenerosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGenerosNavigation.IdGeneros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLinguaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLinguaNavigation.IdPais)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdLivro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
