@model IEnumerable<LibSpace_Aspnet.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

@if (ViewData["Query"] != null)
{
    <p class="search-query">Resultados para: @Html.Encode(ViewData["Query"].ToString())</p>
}
<div>
    <h2>Filtrar Por</h2>

    <!-- Filtro por Número de Cliques -->
    <a href="@Url.Action("Index", new { filter = "clicks" })" class="filter-link">Número de Cliques</a>

    <br /><br />

    <!-- Filtro por Autor -->
    <form method="get" action="@Url.Action("Index")">
        <input type="hidden" name="query" value="@ViewData["Query"]" />
        <label for="filter-author">Autor:</label>
        <select id="filter-author" name="authorId" onchange="this.form.submit()">
            <option value="">Selecione um autor</option>
            @foreach (var autor in ViewBag.Autores)
            {
                <option value="@autor.IdAutor">@autor.NomeAutor</option>
            }
        </select>
    </form>

    <br />

    <!-- Filtro por Editora -->
    <form method="get" action="@Url.Action("Index")">
        <input type="hidden" name="query" value="@ViewData["Query"]" />
        <label for="filter-editor">Editora:</label>
        <select id="filter-editor" name="editorId" onchange="this.form.submit()">
            <option value="">Selecione uma editora</option>
            @foreach (var editora in ViewBag.Editoras)
            {
                <option value="@editora.IdEditora">@editora.NomeEditora</option>
            }
        </select>
    </form>

    <br />

    <!-- Filtro por País de Origem -->
    <form method="get" action="@Url.Action("Index")">
        <input type="hidden" name="query" value="@ViewData["Query"]" />
        <label for="filter-country">País de Origem:</label>
        <select id="filter-country" name="countryId" onchange="this.form.submit()">
            <option value="">Selecione um país</option>
            @foreach (var pais in ViewBag.Paises)
            {
                <option value="@pais.IdPais">@pais.NomePais</option>
            }
        </select>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEdicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TituloLivros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumExemplares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapaImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAutorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEditoraNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGenerosNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLinguaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEdicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TituloLivros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumExemplares)
            </td>
			<td>
				<img src="~/Cover/@item.CapaImg" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinopse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAutorNavigation.IdAutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEditoraNavigation.IdEditora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGenerosNavigation.IdGeneros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLinguaNavigation.IdPais)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLivro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLivro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLivro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
