@model LibSpace_Aspnet.Models.PreRequisitum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PreRequisitum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idleitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idleitor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idlivro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idlivro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoLevantamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoLevantamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idreserva">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
