<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LibSpace - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/LibSpace_Aspnet.styles.css" asp-append-version="true" />
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    @RenderSection("Styles", required: false)
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-content">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/img/logo.png" alt="Logo" class="navbar-logo" />
                    </a>
                    
                    <div class="search-section">
                        <div class="input-group">
                            <input type="text" class="custom-search-bar" placeholder="Search" aria-label="Search" aria-describedby="button-search">
                            <button class="" type="button" id="button-search">
                                <img src="~/img/icons/ico_search.png" alt="Search Icon" class="icon-img-search" />
                            </button>
                        </div>
                    </div>

                    <div class="icon-container">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="~/" class="icon-link">
                                    <img src="~/img/icons/ico_gestao_contas.png" alt="ico_gestao_contas.png" class="icon-img" />
                                </a>
                            }
                            @if (User.IsInRole("Bibliotecario"))
                            {
                                <div class="dropdown">
                                    <a href="#" class="icon-link" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/img/icons/ico_add_book.png" alt="ico_add_book.png" class="icon-img" />
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="~/Livroes/Create">
                                                <i class="fas fa-book"></i> Adicionar Livro
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="~/Autors/Create">
                                                <i class="fas fa-feather"></i> Adicionar Autor
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            <div class="dropdown">
                                <a href="#" class="icon-link" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/img/icons/ico_user.png" alt="ico_user.png" class="icon-img" />
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/index">
                                            <i class="fas fa-user"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                             <i class="fas fa-sign-out-alt"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a href="/login" class="icon-link">
                                <img src="~/img/icons/ico_login.png" alt="ico_login.png" class="icon-img" />
                            </a>
                        }
                        @if (User.IsInRole("Admin")) // MUDAR AQUI O INDICE DE REQUISICAO para BIBLIOTEACARIO
                        {
                            <a href="~/Requisicao" class="icon-link">
                                <img src="~/img/icons/ico_book.png" alt="ico_book.png" class="icon-img" />
                            </a>
                        }
                        else if (User.IsInRole("Bibliotecario"))
                        { // MUDAR AQUI O INDICE DE REQUISICAO para BIBLIOTEACARIO
                            <a href="~/Requisicao" class="icon-link">
                                <img src="~/img/icons/ico_book.png" alt="ico_book.png" class="icon-img" />
                            </a>
                        }
                        else
                        { // MUDAR AQUI O INDICE DE REQUISICAO para BIBLIOTEACARIO
                            <a href="~/Requisicao" class="icon-link">
                                <img src="~/img/icons/ico_book.png" alt="ico_book.png" class="icon-img" />
                            </a>
                            <a href="~/Favoritos" class="icon-link">
                                <img src="~/img/icons/ico_wishlist.png" alt="ico_wishlist.png" class="icon-img" />
                            </a>
                        }
                        <a href="~/Ajuda" class="icon-link">
                            <img src="~/img/icons/ico_ajuda.png" alt="ico_ajuda.png" class="icon-img" />
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @*  <footer >
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.getElementById('searchBox').addEventListener('input', function () {
            let query = this.value.trim();

            if (query.length > 2) {
                let xhr = new XMLHttpRequest();
                xhr.open('GET', '@Url.Action("GetBooks", "Search")?query=' + encodeURIComponent(query), true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        let data = JSON.parse(xhr.responseText);
                        console.log(data); // Para inspecionar os dados recebidos

                        let resultsDiv = document.getElementById('resultsDiv');
                        resultsDiv.innerHTML = ''; // Limpa resultados anteriores

                        if (data.length > 0) {
                            resultsDiv.style.display = 'block';
                            data.forEach(book => {
                                let div = document.createElement('div');
                                div.classList.add('search-result-item');

                                // Criação da imagem e link com ID correto
                                let link = document.createElement('a');
                                link.href = '/Livroes/Details?id=' + book.idLivro; // Use a propriedade correta!
                                link.textContent = book.tituloLivros;

                                let img = document.createElement('img');
                                img.src = '/Cover/' + book.capaImg;
                                img.alt = book.tituloLivros;
                                img.classList.add('result-img'); // Classe CSS para personalizar imagem

                                div.appendChild(img);
                                div.appendChild(link);
                                resultsDiv.appendChild(div);
                            });
                        } else {
                            resultsDiv.style.display = 'none';
                        }
                    }
                };
                xhr.send();
            } else {
                document.getElementById('resultsDiv').style.display = 'none';
            }
        });
        function redirectToIndex(query) {
            window.location.href = '/Livroes/Index?query=' + encodeURIComponent(query);
        }
        document.getElementById('button-search').addEventListener('click', function () {
            const query = document.getElementById('searchBox').value.trim();
            if (query) {
                redirectToIndex(query);
            }

        });
    </script>
</body>
</html>