@model LibSpace.Models.Autor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Autor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pseudonimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pseudonimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFalecimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFalecimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoAutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoAutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bibliografia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bibliografia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLinguaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLinguaNavigation.IdPais)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAutor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
