@model IEnumerable<LibSpace_Aspnet.Models.Perfil>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EndMorada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePerfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimentoPerfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apelido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgPerfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndCodPostalNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EndMorada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePerfil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimentoPerfil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgPerfil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCodPostalNavigation.EndCodPostal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPerfil">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPerfil">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPerfil">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
